body {
    margin: 0;
}

.point {
    width: 2px;
    height: 2px;
    background: green;
    position: absolute;
    border-radius: 100px;
    opacity: 0;
}

.point.active {
    transform: scale(4);
    background: red;
    z-index: 1;
}

.character {
    width: 9%;
    /* height: 50px; */
    /* background: red; */
    position: absolute;
    /* display: none; */ 
}

.frame-size {
    width: 100%;
    height: 100vh;
    background: red;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.character img {
    width: 100%;
    margin-top: -45%;
    margin-left: -45%;
}

.context-menu {
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    display: none;
}

.context-menu-item {
    padding: 5px 10px;
    cursor: pointer;
}

.context-menu-item:hover {
    background: rgba(0, 0, 0, 0.05);
}

.banner-tor {
    width: 7%;
    position: absolute;
}

.banner-tor:hover {
    outline: 2px #ccc dashed;
}

.banner-tor:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.banner-tor img {
    width: 100%;
}

.banner-tor:hover .banner-resize {
    display: block;
}

.banner-resize {
    background: rgba(0, 0, 0, 0.3);
    width: 6px;
    height: 30px;
    position: absolute;
    top: calc(50% - 15px);
    right: 0;
    cursor: e-resize;
    z-index: 1;
    border-radius: 100px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    display: none;
}

@keyframes hover {
    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

.banner-ballon {
    animation: hover 3s ease-in-out infinite;
}

.animation-editor {
    max-width: 100%;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    margin: auto;
    /* margin-top: 100px; */
    position: relative;
    overflow: hidden;
}